<div class="contaner mt-5">
    <div id="deserto"></div>
</div>

<input type="hidden" id="_csrf" value="<%= _csrf %>">
<script src="jogo/main.js"></script>
<link rel="stylesheet" href="/jogo/estilo.css">